/* Annuler les marges par défaut */
*{
    margin:0;
    padding:0;
}

/* Enlever toutes les modifications par défaut sur les liens
    Ex: lien bleu, souligné, visited violet... */

a:link{
    text-decoration: none;
    color:inherit;
}
a:visited{
    color:inherit;
}
html{
    max-width:100%;
    font-family: 'Open Sans Regular';
    width: 1920px;
    height: 5765px;
    
}
body{
    width:100%;
    min-width: 1200px;
}
p{
    font-size:10pt;
    line-height: 1.5;
}
/* Partie header: menu + présentation */
header{
    background: url("../img/header.jpg") no-repeat center;
    background-size: cover;
    color: white;
    height:900px;
}
nav li{
    display: inline;
    padding-left: 25px;
    padding-right:25px;
    padding-top: 37px;
    padding-bottom: 34px;
    font-family: 'Open Sans SemiBold';
}
nav{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    align-items: center;
    font-size:12pt;
    font-weight: normal;

}
nav img{
    margin-left: 20%;
    margin-right: auto;
}
nav ul{
    margin-right: 20%;
    margin-left: auto; 
}
nav #inscription{
    background-color: #d31f44;
}
#header2{
    display:flex;
    flex-wrap: center;
    flex-direction: column;
    height: 810px;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 35pt;
    font-family: 'Open Sans Regular';
    font-weight: normal;
}
header h1{
    margin-bottom:0;
}
header h3{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:37px;
    padding-left:37px;
    background-color: rgba(175, 174, 174, 0.205);
}
h3{
    font-family: 'Open Sans Light';
    font-size: 26pt;
    margin-bottom: 52px;
    margin-top: 19px;
    font-weight: normal;
}
h4{
    font-family: 'Open Sans Light';
    font-size: 11pt;
    font-weight: normal;
    text-align:center;
}
#containerh4{
    background-image: linear-gradient(to right,#d11e43, #9c0020);
    height:50px;
    width:200px;
    display:table-cell;
    vertical-align: middle;
    border: 2px solid transparent;
}
#header2 h4{
    margin-top:auto;
    margin-bottom:auto;
}
#header2 #containerh4:active{
    background-image:none;
    border: white 2px solid;
}
/* Partie formation */

#Formation{
    height:481px;
    background-color: white;
    padding-left:20%;
    padding-right:20%;
}
#Formation h2{
    margin-top:63px;
    margin-bottom: 23px;
}
#Formation img{
    display:block;
    margin-top:0px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:0;
}
#pformation{
    display:flex;
    margin-top:69px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}
h2{ 
    text-align: center;
    font-family: 'Open Sans SemiBold';
    font-weight: normal;
    font-size: 22px;
}
#pformation :nth-child(2){order:2}
#pformation :nth-child(3){order:3}
#p1formation{
    width:500px;
    text-align: right;
    order:1;
    padding-right:12px;
}
#imgformation{
    width: 200px;
    margin-right:14px;
    margin-left:11px;
}
#p2formation{
    width: 500px;
    text-align: left;
    margin-left:11px;
}
#p2formation ul{
    padding-left:20px;
    list-style-image: url("../img/ellipse.png");
    font-size: 11px;
}
#p2formation li{
    margin-bottom:0;
    margin-top:14px;
    padding: 0;
}
/* Partie enseignement */ 

#Enseignement{
    height:445px;
    background-image: url(../img/enseignementbg.jpg);
    background-size:cover;
}
#Enseignement h2{
    color:white;
    padding-top:63px;
    padding-bottom: 27px;
}
#Enseignement #ligneenseignement{
    display:block;
    margin-top:0px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:0;
}
#containerlogos{
    padding-right:20%;
    padding-left:20%;
    margin-top:72px;
    display:flex;
    flex-direction: row;
    justify-content: center;

}
.logos{
    flex-direction: column;
    width:200px;
    text-align: center;
    margin-left:27px;
    margin-right:27px;
    color:white;
}
.logos p{
    margin-top:39px;
    font-size: 10pt;
    font-family: 'Open Sans Light';
}

/* Partie Métier */

#containermétier{
    background-color: #3e3e3e;
    height:567px;
    padding-right:20%;
    padding-left:20%;
    display:flex;
    flex-direction: row;
    color:white;
}
#métier h2{
    text-align: left;
}
#métier img{
    margin-top:17px;
    margin-bottom:29px;
}
#video{
    margin:auto;
}
#métier p{
    font-family: 'Open Sans Light';
    line-height: 2;
}
#métier{
    margin-top:63px;
    margin-right: 61px;
}
#métier p:last-of-type{
    margin-top:37px;
    margin-bottom:39px;
}
#métier #containerh4{
    width:200px;
    background-color:#3e3e3e;
    background-image: none;
    border:2px solid white ;
    text-align: center;
}
#métier #containerh4:active{
    background-color:white;
    color:#3e3e3e;
}
/* Partie Projet */ 

#containerprojet{
    background-color: white;
    height:451px;
    padding-right:20%;
    padding-left:20%;
    display:flex;
    flex-direction: row;
}
#containerprojet #imgprojet{
    margin:auto;
    max-width: 100%;
    max-height: 100%;
}
#txtprojet h2{
    text-align:left;
    margin-bottom: 7px;
}
#txtprojet{
    margin-left:42px;
    margin-top:61px;
    margin-right:46px;
}
#txtprojet p{
    margin-top:27px;
    margin-bottom:26px;
}
#txtprojet ul{
    font-size:11px;
    list-style-image: url("../img/ellipse.png");
    padding-left:20px;
}
#txtprojet li{
    margin-bottom:0;
    margin-top:13px;
    padding: 0;
}
#txtprojet img{
    margin:0;
    width: 100% auto;
}

/*Partie Titre Pro*/

#containerTitrePro{
    height:287px;
    background-image:url("../img/projet-bg.jpg");
    color:white;
    text-align: center;
}
#TitrePro{
    padding-top:60px;
    line-height: 1,5;
}

/*Partie Centres de formation*/

#Centres{
    height:833px;
    width:1198px;
    padding-right:20%;
    padding-left:20%;
    padding-top:62px;
}
#entetecentres h2{
    text-align: left;
}
#entetecentres{
    padding-bottom:55px;
}
#imgcentres{
    display:flex;
    flex-wrap:wrap;
    margin:-15px;

}
#imgcentres img{
    margin:15px;
}
.centres{
    position:relative;
}
.centres img{
    display:block;
}
.overlay{
    position:absolute;
    top: 15px;
    bottom: 10px;
    left: 15px;
    right: 10px;
    height: 275px;
    width: 275px;
    opacity: 0;
    transition: .5s ease;
    background-color: #d11e42b0;
}
.centres:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
  
/*Partie Témoignages */ 
#containertémoignages{
    height:604px;
    background-image:url(../img/temoignagesbg.jpg);
    color:white;
    padding-right: 20%;
    padding-left:20%;
}
#témoignages1{
    padding-top:71px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 65px;
}
#titretémoignages img{
    margin-top: 20px;
}
#containertémoignages p{
    font-size: 17pt;
    font-family: 'Open Sans Light';
}
#containertémoignages p:first-of-type{
    text-align:justify;
}
#containertémoignages p:last-of-type{
    margin-top:64px;
    margin-bottom:64px;
}
#containertémoignages #containerh4{
    width:225px;
    background-color:transparent;
    background-image: none;
    border:2px solid white ;
    text-align: center;
}
#containertémoignages #containerh4:active{
    background-color:white;
    color:black;
}
#témoignages2{
    line-height: 1,5;
}
/* Partie Contact */
#Contact h2{
    text-align:left;
    padding-top:58px;
    padding-bottom:0;
    margin-bottom:10px;
}
input{
    font-size:12px;
}
#Contact{
    height:786px;
    background-image: linear-gradient(#9d0120, #d31f44);
    padding-right: 20%;
    padding-left:20%;
    color:white;
}
#contact1{
    display: flex;
}
#inputcontact{
    flex-wrap: wrap;
    flex:1 1 550px;
}
#NOM, #CP{
    margin-right:45px;
}
#NOM, #PRENOM, #CP, #VILLE{
    width:250px;
}
#EMAIL{
    width:550px;
}
.input{
    background-color:transparent;
    border:0;
    border-bottom: white solid 2px;
    color:white;
    padding-bottom:12px;
    padding-top:39px;
}
input{
    outline:none;
}
#MESSAGE{
    background-color:transparent;
    border: white solid 2px;
    color:white;
    padding-bottom:12px;
    padding-top:39px;
    width: 100%;
    height: 200px;
}
#containermessage{
    margin-top: 42px;
}
#ENVOYER{
    display:flex;
    
    font-size:10pt;
}
#containermessage p{
    margin-bottom:17px;
    font-size:12px;
}
#textecontact{
    margin-top:auto;
    margin-bottom:30px;
    margin-left:93px;
    margin-right:14px;
}
#textecontact p:first-of-type{
    margin-bottom:38px;
}
#ENVOYER{
    margin-top:44px;
    margin-left:auto;
    margin-right:auto;
    height:50px;
    width:200px;
    background-color: white;
    justify-content: center;
    border:none;
    color:#a90729;
}
#ENVOYER:active{
    background-color:#a90729;
    border:2px white solid;
    color:white;
}

/* Partie Partenaires */ 

#containerpartenaires{
    height:250px;
    display:flex;
    justify-content: space-around;
}
.partenaire{
    margin-top:auto;
    margin-bottom:auto;
}

/* Partie Credits */ 

#containercredits{
    height: 154px;
    background-color:#3e3e3e;
    padding-right: 20%;
    padding-left:20%;
    display:flex;
    color:white;
    justify-content: space-between;
}
#credits1, #credits2{
    margin-top:auto;
    margin-bottom: auto;
}
#credits2 img{
    margin-left:42px;
    vertical-align: middle;
}






